body { 
      
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      background-size:cover;
    }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title{
    display:block; 
    position:absolute; 
    top:3%;left:40%;
    width:200px;height:100px;
    z-index:10;
}

.clickable{
    cursor: pointer;
}
.mylink{
    color:deeppink;
}

.arrow{
    position:absolute;
    width:50px;
    z-index: 12;
    bottom: 0%;
}
#arrowleft{left: 26%;}
#arrowright{right: 40%;}

.border{
    position:fixed;
    height:auto; 
    z-index:12;
}


#borderleftbaroque{
    left:-1%;
    bottom:-2%;
    width:220px;
    -webkit-transform: rotate(180deg);
}
#borderrightbaroque{
    right:-1%;
    top:-2%;
    width:220px;

}

#pagecontainer{
    width:1200px;
    height:auto;
    position:absolute;
    z-index:5;
    top:8%;
    left:8%;
}

.page{
    width:41%;
    height:auto; 
    position:relative;
    border: 0.5px solid #000;
    opacity: 50%
}


#pageA{
    position:absolute;
    left:-1%;
    top: 1%;
    z-index:-2;
}
#pageB{
    position:absolute;
    left:-2%;
    top: -1%;
    z-index:-3;
}
#pageC{
    position:absolute;
    right:16%;
    top: 1%;
    z-index:-2;
}
#pageD{
    position:absolute;
    right:17%;
    top: -1%;
    z-index:-3;
}
#pageE{
    position:absolute;
    left:1%;
    top: 0%;
    z-index:-4;
}
#pageF{
    position:absolute;
    right:15%;
    top: 0%;
    z-index:-4;
}

.toppage{
    opacity: 100%;
}
.LEFTPAGESPREAD{}
.RIGHTPAGESPREAD{}
.ONEPAGE{}

.pagecloud{
    border: 0.5px solid #000;
    z-index:-5;
    width:260px;
    height:auto;
    opacity:40%;
}